main header {
  --m-top: 3.4rem;
  margin-top: var(--m-top);

  & .go-back {
    & a {
      color: var(--color-brand);
    }
  }
}

form {
  margin-block: 4.4rem 4rem;

  & input {
    background-color: var(--bg-secondary);
    border-radius: 1.2rem;
    border: 2px solid var(--border-primary);
    padding: 0.8rem 1.8rem;

    &::placeholder {
      color: var(--content-tertiary);
      font: 400 1.6rem/2.2rem var(--ff-inter);
    }

    &:hover {
      border-color: var(--border-hover);
    }

    &:focus {
      outline-color: var(--color-brand);
    }
  }

  & button {
    background-color: var(--color-brand);
    border: none;
    border-radius: 1.2rem;
    color: var(--always-white);
    cursor: pointer;
    font: var(--label);
    padding: 1.2rem 2.4rem;

    &:hover {
      background-color: var(--color-brand-hover);
    }
  }
}

ul[role="list"] {
  list-style-type: none;
  max-height: 30vh;

  overflow: auto;

  & .items {
    background-color: var(--bg-secondary);
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & label {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      position: relative;

      & #iconCheck {
        width: 1.6rem;
        height: 1.6rem;

        background-color: var(--bg-secondary);
        border: solid var(--border-primary);
        border-radius: 0.6rem;
      }

      & input {
        all: unset;
        inset: 0;
        position: absolute;
      }

      &:has(input:checked) {
        & #iconCheck {
          background: url(../assets/icons/checked.svg) no-repeat center / cover;
          background-color: var(--color-brand);
          border-color: var(--color-brand);
        }

        & span {
          text-decoration: line-through;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

#delete {
  width: 1.6rem;
  height: 1.6rem;

  background: url(../assets/icons/delete.svg) no-repeat center / cover;
  border: none;
  cursor: pointer;
}

#alert {
  display: none;
  align-items: center;
  gap: 0.8rem;

  background-color: var(--color-danger);
  border-radius: 1.2rem;
  color: var(--always-white);
  font: var(--label);
  padding: 1.2rem;

  margin-top: 3.6rem;

  & p {
    width: 100%;
  }
}

@media (width >= 800px) {
  main header {
    --m-top: 6.2rem;
  }

  .logo {
    margin-top: 2.4rem;
    text-align: center;
  }

  form {
    grid-template-columns: 70% 1fr;
  }
}
