.container {
  --px-base: 3.2rem;
  --max-width: 37.5rem;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;

}

.desktop-only {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-16 {
  gap: 1.6rem;
}

@media (width >= 800px) {
  .container {
    --px-base: 6.4rem;
    --max-width: 62.7rem;
  }

  .desktop-only {
    display: inherit;
  }
}
